version: '3.9'
services:
  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   container_name: next-14-drizzle-frontend
  #   restart: always
  #   ports:
  #     - "3000:3000"
  #   volumes:
  #     - .:/app
  #     - /app/node_modules

  db:
    image: postgres:16.0
    restart: always
    container_name: postgres-db
    volumes:
      - ./data/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - ${DB_PORT}:5432

  adminer:
    image: adminer:4.8.1
    restart: always
    ports:
      - '8080:8080'
